genicam/xml/GenApi/NodeTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CppClass" type="xs:token"/>
	<xs:element name="CppInterface" type="xs:token"/>
	<xs:element name="CppReference" type="xs:token"/>
	<xs:element name="Node">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CppClass"/>
				<xs:element ref="CppInterface"/>
				<xs:element ref="CppReference"/>
			</xs:sequence>
			<xs:attribute name="Name" use="required"/>
		</xs:complexType>
		<xs:unique name="NodeKey">
			<xs:selector xpath="./Node"/>
			<xs:field xpath="@Name"/>
		</xs:unique>
	</xs:element>
	<xs:element name="NodeTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Node" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
